<!doctype html>
<html lang="en" ng-app='demo'>
<head>
<meta charset="utf-8">

<title>Dashboard</title>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="static/css/custom.css">

</head>
<body>

<script type="text/javascript" src="static/js/angular.min.js"></script>
<script type="text/javascript" src="static/js/angular-route.min.js"></script>
<script type="text/javascript" src="static/js/controller.js"></script>


<script type="text/javascript" src="static/js/custom.js"></script>

	
	<div ng-view></div>	

</body>
</html>

